altgraph==0.10.2
astroid==1.6.2
attrs==17.4.0
backports.functools-lru-cache==1.5
bdist-mpkg==0.5.0
bonjour-py==0.3
ChatterBot==0.4.13
click==6.7
configparser==3.5.0
dask==0.11.1
decorator==4.0.10
Django==1.9.5
enum34==1.1.6
et-xmlfile==1.0.1
Flask==0.12.2
funcsigs==1.0.2
future==0.16.0
futures==3.2.0
isort==4.3.4
itsdangerous==0.24
jdcal==1.3
Jinja2==2.10
jsondatabase==0.1.3
lazy-object-proxy==1.3.1
lpthw.web==1.1
macholib==1.5.1
MarkupSafe==1.0
matplotlib==1.3.1
mccabe==0.6.1
mock==2.0.0
modulegraph==0.10.4
more-itertools==4.1.0
networkx==1.11
nltk==3.2.1
nose==1.3.7
numpy==1.11.2
oauthlib==2.0.1
openpyxl==2.4.0
pandas==0.19.1
pbr==1.8.1
Pillow==3.4.1
pluggy==0.6.0
py==1.5.3
py2app==0.7.3
pylint==1.8.3
pymongo==3.3.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.0.1
pyperclip==1.6.0
pyswarm==0.6
pytest==3.5.0
python-dateutil==1.5
python-twitter==3.1
pytz==2013.7
requests==2.12.1
requests-oauthlib==0.7.0
scikit-image==0.12.3
scikit-learn==0.18
scipy==0.13.0b1
singledispatch==3.4.0.3
six==1.11.0
textblob==0.11.1
toolz==0.8.0
uuid==1.30
vboxapi==1.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
Werkzeug==0.14.1
wrapt==1.10.11
xattr==0.6.4
zope.interface==4.1.1
